<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/src/index.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <!-- Rewrite root URL to index.html -->
        <rule name="Rewrite to index.html" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/src/index.html" />
        </rule>

        <!-- Rewrite service worker and manifest -->
        <rule name="Rewrite service-worker.js" stopProcessing="true">
          <match url="^service-worker\.js$" />
          <action type="Rewrite" url="/src/service-worker.js" />
        </rule>

        <rule name="Rewrite manifest.json" stopProcessing="true">
          <match url="^manifest\.json$" />
          <action type="Rewrite" url="/src/manifest.json" />
        </rule>

        <rule name="Rewrite main.js" stopProcessing="true">
          <match url="^main\.js$" />
          <action type="Rewrite" url="/src/main.js" />
        </rule>
        
        <rule name="Rewrite main.css" stopProcessing="true">
          <match url="^main\.css$" />
          <action type="Rewrite" url="/src/styles/main.css" />
        </rule>

        <!-- SPA Page Routing -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url="^(dashboard|students|departments|receipts|users|login|register)$" />
          <action type="Rewrite" url="/src/index.html" />
        </rule>

        <!-- Handle requests directly to directories -->
        <rule name="Static Assets" stopProcessing="false">
          <match url="^(assets|styles|pages|utils|services)/(.*)$" />
          <action type="Rewrite" url="/src/{R:1}/{R:2}" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>